.menuSection {
  display: none;
}

@media (min-width: 1024px) {
  .menuSection {
    align-items: center;
    animation: menuSlideUp linear forwards;
    animation-range: 0vh 90vh;
    animation-timeline: scroll();
    color: var(--gold);
    column-gap: 0;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 60px;
    z-index: 99999;
  }

  .menuBtn {
    background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, var(--gold), var(--gold), var(--gold));
    background-size: 100% 0.1875rem, 0 0.1875rem; 
    background-position: 110% 100%, 0 110%; 
    background-repeat: no-repeat;
    border: none;
    color: white;
    font-size: var(--font-sm);
    margin-right: 0.4rem;
    outline: none;
    transition: background-size 0.4s;
  }

  .menuBtn:hover, .menuBtn:focus {
    background-size: 100% 0.1875rem, 100% 0.1875rem;
  }
}

@keyframes menuSlideUp {
  from {
    top: 60px;
  }
  to {
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .menuBtn {
    color: var(--gold);
  }
}
